---
---

@import "";

button {
    all: unset;
    background: tomato;
    border: 0;
    border-radius: 4px;
    color: white;
    font-family: Helvetica;
    font-size: 1.5rem;
    padding: .5rem 1rem;
  }

#click-me {
    all: unset;
    background: tomato;
    border: 0;
    border-radius: 4px;
    color: white;
    font-family: Helvetica;
    font-size: 1.5rem;
    padding: .5rem 1rem;
  }