<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta property="og:image" content="./wi_flag.png"/>
    {% seo %}
  </head>

  <body>

    <!-- HEADER -->

    <header>
      <p class="site-title">{{ site.title | default: site.github.repository_name }}</p>
      <p class="site-desc">{{ site.description | default: site.github.project_tagline }}. ⚠️ <a href="https://www.dhs.wisconsin.gov/covid-19/illness.htm">If you feel ill</a> ⚠️</p>

      <nav>
        <ul class="site-nav">
          {% assign sorted_pages = site.pages | sort : "order" %}
          {% for item in sorted_pages %}
            {% if item.title %}
              <li class="site-nav__item">
                <a href=".{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </header>

    <!-- MAIN CONTENT -->
    <main>
      {{ content }}
    </main>

    <!-- FOOTER  -->

    <footer>
      <h2>Contributors</h2>
      <ul class="contributors">
        {% for user in site.github.contributors %}
          <li class="contributor">
            <a href="{{ user.html_url }}">
              <img src="{{user.avatar_url}}"/>
              {{ user.login }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </footer>

  </body>
</html>
